.git
.gitignore
.azure
.vscode
.idea
**/__pycache__
**/*.pyc
**/.venv
**/venv
**/node_modules
frontend/dist
frontend/.vite
**/.env
**/.env.*
!**/.env.example
**/*.md
**/.pytest_cache
**/.mypy_cache
**/.ruff_cache
**/*.log
**/*.ipynb
backend/translation/data
sign_data_collection
dev_ui
Thumbs.db
.DS_Store
